$global-muted-background: #eceff4;
$global-primary-background: #ec595a;
$global-secondary-background: #ec595a;
$navbar-background: $global-primary-background;

@import 'node_modules/uikit/src/scss/variables-theme.scss';
@import 'node_modules/uikit/src/scss/mixins-theme.scss';
@import 'node_modules/uikit/src/scss/uikit-theme.scss';

.headroom-wrapper {
  height: auto !important;
}
